# Ignorar arquivos de sistema
.DS_Store
Thumbs.db
# --- Intel Quartus FPGA (Arquivos temporários e de build) ---
/hardware/**/db/
/hardware/**/incremental_db/
/hardware/**/output_files/
/hardware/**/simulation/
*.qws
*.sof
*.pof
*.jdi
*.summary
*.smsg
*.pin
*.done
*.qpf.bak
*.qsf.bak

# --- Arduino (Compilação) ---
/firmware/**/build/
*.elf
*.hex

# --- Sistema ---
.DS_Store
Thumbs.db